html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#desktop {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-size: cover;
}

#apps {
    width: 100%;
}

.app {
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    /*background-color:rgba(20, 100, 255, 0.3);
    //float:left;*/
    position: fixed;
    border-radius: 3px;
    user-select: none;
}

.app:hover {
    background-color: rgba(50, 150, 200, 0.3);
    box-shadow: inset 0px 0px 0px 1px rgba(50, 150, 200, 0.7);
}

.appicon {
    height: 91.666%;
    width: 100%;
    background-size: 100% 100%;
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.5));
}

.appname {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 1);
    height: 8.333%;
    width: 100%;
}

.selectedapp {
    background-color: rgba(50, 150, 200, 0.7) !important;
    box-shadow: none !important;
}

.panel {
    user-select: none;
    height: 45px;
    width: 100vw;
    margin: 0;
    background-color: rgb(42, 46, 50);
    position: fixed;
    top: calc(100vh - 45px);
    box-shadow: 1px -1px 10px black;
}
.menu{
    position:fixed;
    width: 25vw;
    height:fit-content;
    background-color:rgb(42, 46, 50);
    border-radius: 2px;
    user-select: none;
    border: 1px rgb(50, 55, 60) solid;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2);
}
.menuItem{
    white-space: nowrap;
    width:100%;
    color:white;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 3px;
    display: flex;
}
.menuItem:hover{
    background-color: rgba(50, 150, 200, 0.7);
    box-shadow: inset 0px 0px 0px 1px rgba(50, 150, 200, 0.7);
}
.menuText{
    margin-left:5px;
}
.menuIcon{
    background-size: auto 100%;
    margin-left:5px;
}