html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overscroll-behavior-y: contain;
    overflow: hidden;
}

#desktop {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-size: cover;
    background-position: center;
}

#apps {
    width: 100%;
}

.app {
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    position: fixed;
    border-radius: 3px;
    user-select: none;
}


.appicon {
    height: 85%;
    width: 100%;
    background-size: 100% 100%;
    filter: drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.5));
}

.appname {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
    height: 8.333%;
    width: 100%;
}


.panel {
    user-select: none;
    position: fixed;
    top: calc(100vh - 45px);
    box-shadow: 1px -1px 10px black;
}
.menu{
    position:fixed;
    min-width: 15vw;
    font-size:0.85em;
    width:fit-content;
    height:fit-content;
    border-radius: 0px;
    user-select: none;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.menuItem{
    white-space: nowrap;
    width:100%;
    padding-top:5px;
    padding-bottom: 5px;
    border-radius: 3px;
    display: flex;
}
.menuItem.disabled{
    filter:brightness(0.5);
    pointer-events: none;
}
.menuText{
    margin-left:5px;
}
.menuIcon{
    background-size: auto 100%;
    margin-left:5px;
    filter: drop-shadow(1px 1px 1px rgba(42,46,50, 1));
}
.desktopdrag{
    position:absolute;
    border-radius: 5px;
}
.widget{
    height:45px;
    width:45px;
    background-size: cover;
    float:left;
    vertical-align: middle;
    text-align: center;
    filter: drop-shadow(1px 1px 1px rgba(42,46,50, 1));
}
.kwin{
    position:absolute;
    border-radius:3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.knavbar{
    position:relative;
    top:0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    left:0;
    height:25px;
    width:100%;
}
.kwinActions{
    float:right;
    display:flex;
    justify-content: center;
    align-items: center;
}
.kwinActions > div {
    height:20px;
    width:20px;
    border-radius:50%;
    margin:2px;
    margin-top:2.5px;
    cursor: initial !important;
}
.kwintitle{
    width:100%;
    text-align: center;
    user-select: none;
}
.kwinIcon{
    float:left;
    height:25px;
    width:25px;
    background-size: 100% 100%;
}
.programIframe{
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border: 0;
}
.iframeHolder{
    height:calc(100% - 25px);
    width:100%;
    border-radius:3px;
    display:flex;
    overflow: hidden;
}
.windowcover{
    position:absolute;
    background-color:transparent;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display:none;
}
.toolbar{
    height:30px;
    width:100%;
    user-select: none;
    display:none;
}
.toolbarItem{
    padding:3px;
    border-radius:2px;
    display:inline;
    float:left;
    margin-left:2px;
}
@keyframes widgetAnimation {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, -100%);
        opacity: 1;
     }
}
.widgetWindow{
    border:0;
    position:absolute;
    border-radius: 5px;
    overflow: hidden;
    visibility: hidden;
}
.widgetWindow.loaded{
    animation: widgetAnimation 0.1s forwards;
}