#typeImage{
    height:30%;
    width:30vh;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--Colors_Window_BackgroundAlternate);
    border-radius: 3px;
}
*{
font-size: 1em;
}
button{
    margin:5px;
}